body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.section{
  margin-bottom: -50px;
}
.center{
  text-align: center;
}
.tag{
  height: 2em;
  margin-left: 3px;
}
.list-tag{
  margin-top: 10px;
}